body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff7e1;
    color: #396125;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #396125;
    color: #fff7e1;
    padding: 10px 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-brand {
    font-size: 24px;
    color: #fff7e1;
    text-decoration: none;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #fff7e1;
    text-decoration: none;
    font-size: 18px;
}

.nav-link:hover {
    text-decoration: underline;
    transition: ease-in-out 1s;
}

.nav-link:visited {
    color: #fff7e1;
    text-decoration: none;
}